// Colours
$color-primary: #B000B5;
$color-red: rgb(213, 35, 35);

$color-white: #fff;
$color-base: #000;

// spacing
$base-spacing: 20px;
$half-spacing: $base-spacing/2;

// breakpoints
$palm-start: 420px;
$lap-start: 768px;
$desk-start: 990px;
$wide-start: 1200px;

// fonts
$base-font-size: 16px;
$base-font-weight: normal;
$base-line-height: 24px;
